[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
flask = "flask"
create-db = "flask create_db"
# https://flask-babel.tkte.ch#translating-applications
babel-extract = "pybabel extract -F babel.cfg -o messages.pot ."
babel-update = "pybabel update -i messages.pot -d ms365_accountcreator/translations"
babel-create-de = "pybabel init -i messages.pot -d ms365_accountcreator/translations -l de"
babel-create-en = "pybabel init -i messages.pot -d ms365_accountcreator/translations -l en"
babel-compile = "pybabel compile -d ms365_accountcreator/translations"

[dev-packages]
jedi = "*"
mypy = "*"
nose = "*"
pep8 = "*"
pylint = "*"
pycodestyle = "*"
rope = "*"

[packages]
Flask = "==1.1.1"
flask-restx = "==0.2.0"
Flask-SQLAlchemy = "==2.3.2"
Flask-Migrate = "==2.5.2"
Flask-Cors = "==3.0.8"
Flask-JWT-Extended = "==3.24.1"
requests = ">=2,<3"
msal = ">=0.6.1,<2"
cryptography = "*"
six = "*"
flask-babel = "*"

[requires]
python_version = "3"
