html {
    width: 100%;
    font-family: "Univers LT W01 65 Bold", arial, sans-serif;
}

body {
    width: 100%;
    margin: 0px;
    background-color: #dfdfdf;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;

    font-size: 4vmin;
    font-size: clamp(1rem, 4vmin, 4rem);
    color: #333;
    background-color: #00BEFF;
    background: #00BEFF;
    background: linear-gradient(138deg, #64d8ff 0%, #00BEFF 30%, #00BEFF 70%, #00b3d7 100%);

    display: flex;
    justify-content: center;
}

.title > .language-switcher {
    font-size: 1.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.language-switcher a {
    color: #333;
}

.title h1 {
    width: calc(70% - 2ch);
    min-width: 20ch;
    max-width: 70ch;
    margin-top: 2rem;
}

.form-container {
    width: calc(50% - 2ch);
    min-width: 35ch;
    max-width: 60ch;

    display: flex;
    flex-direction: column;

    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    margin-bottom: 1rem;
}

details {
    background-color: white;
    padding-bottom: 1rem;
}

details > summary {
    padding: 0.6rem;
    background-color: #00BEFF;
    color: #333;
    font-size: 1.3rem;
    font-weight: bold;

    list-style: none;
}

details.inactive > summary {
    background-color: #333;
    color: white;
    pointer-events: none;
}

details.done > summary {
    background-color: #004191;
    color: white;
}

details.done > summary::after {
    content: "✓";
    padding-left: 0.6em;
}

details.done > form > input[type="submit"]:not(#name-form-submit) {
    visibility: hidden;
}

details > summary::-webkit-details-marker {
    display: none;
}

details[open] > summary {
    pointer-events: none;
}

details > .details-content {
    margin: 0.6rem;
}

label {
    font-weight: bold;
    color: #333;
}

.form-field-description {
    color: #333;
}

input {
    font-size: 1.1rem;
    padding: 0.3rem;
}

input:not(:placeholder-shown):invalid {
    border-color: red;
}

input:valid:not([type="submit"]) {
    border-color: green;
}

input[type="submit"] {
    float: right;
}
