<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ gettext('Account Registration for Microsoft Teams for University of Stuttgart') }}</title>
    <base href="{{url_for('default_route')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <!--link rel="icon" type="image/x-icon" href="favicon.ico"-->
</head>

<body>
    <div class="title">
        <div class="language-switcher">
            <span>
                <a href="{{url_for('default_route', lang='de')}}">de</a>
                <span>/</span>
                <a href="{{url_for('default_route', lang='en')}}">en</a>
            </span>
        </div>
        <h1>{{ gettext('Account Registration for Microsoft Teams for University of Stuttgart') }}</h1>
    </div>

    <!-- Display a warning for all users still browing with IE because form validation will not work for them -->
    <!--[if IE]>
        <div>
            <h2>{{ gettext('Internet Explorer is NOT supported!') }}</h2>
            <p>{{ gettext('Please use a recent Firefox, Chrome, Edge or Safari browser to access this site!') }}</p>
        </div>
    <![endif]-->

    <!-- Hide actial content for all users still browing with IE because form validation will not work for them -->
    <![if !IE]>
    <div class="form-container">
        <!-- Explanation -->
        <details id="explanation" open>
            <summary>{{ gettext('Explanation') }}</summary>
            <div class="details-content">
                {{ gettext('Explanation and statement containing %(support)s', support=support_email)}}
            </div>
        </details>
        {% if voucher_enabled -%}
        <!-- Voucher Form-->
        <details id="step-voucher" class="inactive">
        <summary>{{ gettext('Step Voucher') }}</summary>
            <form id="voucher-form" class="details-content" onsubmit="return voucherSubmit(event);">
                <div class="form-field">
                    <label for="input-voucher">{{ gettext('Voucher') }}</label>
                    <input id="input-voucher" name="voucher" aria-describedby="input-voucher-note" type="string" {% if voucher_required %}required{% endif %} {% if voucher_token is not none %}value="{{ voucher_token }}"{% endif %}>
                    <span id="input-voucher-note" class="form-field-description">{{ gettext('Voucher required') if voucher_required else gettext('You may enter a Voucher.') }}</span>
                </div>
                <input type="submit" name="submit" value="{{ gettext('Next') }}">
            </form>
        </details>
        {%- endif %}
        <!-- Email Form -->
        <details id="step-email" class="inactive">
            <summary>{{ gettext('Step Email') }}</summary>
            <form id="email-form" class="details-content" onsubmit="return emailSubmit(event);">
                <div class="form-field">
                    <label for="input-email">{{ gettext('Your st****** email address') }}</label>
                    <input id="input-email" name="email" aria-describedby="input-email-note" type="email" placeholder="{{ gettext('st******@stud.uni-stuttgart.de') }}" pattern="{{email_regex}}" required>
                    <span id="input-email-note" class="form-field-description">{{ gettext('You must use your st******@stud.uni-stuttgart.de email in this field.') }}</span>
                </div>
                <div class="form-field">
                    <label for="input-consent-mail">
                        <!-- Consent checkboxes MUST be marked as required! -->
                        <input id="input-consent-mail" name="checkbox" aria-describedby="input-consent-mail-note" type="checkbox" required>
                        {{ gettext('I consent that my st****** email is saved to prevent duplicate Account creation.') }}
                    </label>
                    <span id="input-consent-mail-note" class="form-field-description">{{ gettext('Detailed legal text email') }}</span>
                </div>
                <input type="submit" name="submit" value="{{ gettext('Next') }}">
            </form>
        </details>
        <!-- Consent Form -->
        <details id="step-consent" class="inactive">
            <summary>{{ gettext('Step Consent') }}</summary>
            <form id="consent-form" class="details-content" onsubmit="return consentSubmit(event);">
                <div class="form-field">
                    <label for="input-consent-teams">
                        <!-- Consent checkboxes MUST be marked as required! -->
                        <input id="input-consent-teams" name="checkbox" aria-describedby="input-consent-teams-note" type="checkbox" required>
                        {{ gettext('I consent that my Name is used to create an Account for Microsoft Teams.') }}
                    </label>
                    <span id="input-consent-teams-note" class="form-field-description">{{ gettext('Detailed legal text teams') }}</span>
                </div>
                <input type="submit" name="submit" value="{{ gettext('Next') }}">
            </form>
        </details>
        <!-- Name Form -->
        <details id="step-name" class="inactive">
            <summary>{{ gettext('Step Name') }}</summary>
            <form id="name-form" class="details-content" onsubmit="return nameSubmit(event);">
                <div class="form-field">
                    <label for="input-first-name">{{ gettext('Name') }}</label>
                    <input id="input-first-name" name="first" type="text" autocomplete="given-name" placeholder=" " required>
                </div>
                <div class="form-field">
                    <label for="input-family-name">{{ gettext('Family Name') }}</label>
                    <input id="input-family-name" name="first" type="text" autocomplete="family-name" placeholder=" " required>
                </div>
                <input id="name-form-submit" type="submit" name="submit" value="{{ gettext('Create Account') }}">
            </form>
        </details>
        <details id="step-result" class="inactive">
            <summary>{{ gettext('Step Result') }}</summary>
            <div class="details-content">
                <p id="result-spinner" class="spinner">{{ gettext('Awaiting API response:')}}</p>
                <p id="result-text" hidden></p>
            </div>
        </details>
    </div>
    <![endif]>

    <script type="text/javascript" src="{{url_for('static', filename='common.js')}}"></script>
    <script>
        const connection_error_text = "{{ gettext('There was an error while connecting to the server. Please try again later or contact the administrator of this site.') }}"
        const url_api_endpoint_voucher_verification = "{{url_api_endpoint_voucher_verification}}"
        const url_api_endpoint_email_verification = "{{url_api_endpoint_email_verification}}"
        const url_api_endpoint_account_creation = "{{url_api_endpoint_account_creation}}"
        const lang = "{{lang}}"

        const steps = [
            {% if voucher_enabled %}"voucher",{% endif %}
            "email",
            "consent",
            "name",
            "result",
        ]

        window.currentStep = 0

        function setUiStepState(step, state) {
            element = document.getElementById('step-' + step)
            switch(state) {
                case "closed":
                    element.classList.remove('done');
                    element.classList.add('inactive');
                    element.removeAttribute('open');
                    break;
                case "active":
                    element.classList.remove('done');
                    element.classList.remove('inactive');
                    element.setAttribute('open', '');
                    break;
                case "done":
                    element.classList.add('done');
                    element.classList.remove('inactive');
                    element.setAttribute('open', '');
                    break;
                default:
                    throw "Unknown state"
            }
        }

        function updateUiToCurrentStep() {
            let curr_step = window.currentStep
            for(let i = 0; i < steps.length; i++) {
                step = steps[i]
                if(i < curr_step) {
                    setUiStepState(step, "done")
                }
                if (i == curr_step) {
                    setUiStepState(step, "active")
                }
                if (i > curr_step) {
                    setUiStepState(step, "closed")
                }
            }
        }

        window.onload = updateUiToCurrentStep

        function stepFinished(step_name) {
            let step = steps.indexOf(step_name)
            if(step < 0) {
                throw "Unknown step"
            }
            let next_step = step + 1
            if(next_step >= steps.length) {
                throw "Next step does not exist"
            }
            window.currentStep = next_step
            updateUiToCurrentStep()
        }

        function voucherSubmit(event) {
            event.preventDefault();

            const voucher = document.getElementById('input-voucher').value;

            if(voucher.length == 0) {
                stepFinished("voucher")
                return false;
            }

            postDataAndProcess(url_api_endpoint_voucher_verification, {'voucherToken': voucher},
                function(data) {
                    if ((! "valid" in data) || (! "reason" in data)) {
                        throw "Data format invalid"
                    }
                    if (data.valid) {
                        stepFinished("voucher")
                    } else {
                        alert(data.reason)
                    }
                },
                function(message) {
                    alert(message)
                }
            )
            return false;
        }

        function emailSubmit(event) {
            event.preventDefault();

            const email = document.getElementById('input-email').value;

            postDataAndProcess(url_api_endpoint_email_verification, {'email': email},
                function(data) {
                    if ((! "valid" in data) || (! "reason" in data)) {
                        throw "Data format invalid"
                    }
                    if (data.valid) {
                        stepFinished("email")
                    } else {
                        alert(data.reason)
                    }
                },
                function(message) {
                    alert(message)
                }
            )
            return false;
        }

        function consentSubmit(event) {
            event.preventDefault();

            const emailForm = document.getElementById('email-form');
            if (!(emailForm.reportValidity() || emailForm.checkValidity())) {
                return;
            }

            stepFinished("consent")

            return false;
        }

        function nameSubmit(event) {
            event.preventDefault();

            const emailForm = document.getElementById('email-form');
            if (!(emailForm.reportValidity() || emailForm.checkValidity())) {
                return;
            }

            const consentForm = document.getElementById('consent-form');
            if (!(consentForm.reportValidity() || consentForm.checkValidity())) {
                return;
            }

            stepFinished("name")

            const voucher_el = document.getElementById('input-voucher')

            const first_name = document.getElementById('input-first-name').value
            const last_name = document.getElementById('input-family-name').value
            const email = document.getElementById('input-email').value

            const nameFormSubmit = document.getElementById('name-form-submit');
            const resultSpinner = document.getElementById('result-spinner');
            const resultText = document.getElementById('result-text');

            nameFormSubmit.disabled = true;
            resultSpinner.hidden = false;
            resultText.hidden = true;

            let data = {'firstName': first_name, 'lastName': last_name, 'email': email}
            if (voucher_el != null && voucher_el.value.length > 0) {
                data["voucherToken"] = voucher_el.value
            }

            postDataAndProcess(url_api_endpoint_account_creation, data,
                function(data) {
                    resultSpinner.hidden = true;
                    resultText.textContent = '{{ gettext("Your account was successfully created and an email with the password will be sent to your specified st****** email.") }}';
                    resultText.hidden = false;
                },
                function(message) {
                    resultSpinner.hidden = true;
                    resultText.textContent = message;
                    resultText.hidden = false;
                    nameFormSubmit.disabled = false;
                }
            )

            return false;
        }
    </script>
</body>

</html>
